<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jovian Careers</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div>
    <h1>Jovian Careers</h1>
    <img src = "https://4c7adf22-b91e-4353-8887-f6b5bf4883f5-00-39kb9ve32hpzo.sisko.replit.dev/static/bg.jpg" height = "320" alt = "background image" >

    <h2>About Jovian Careers</h2>
    <p>It is a long established fact that a reader will be     distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

    <h2>Open positions</h2>
    <p>todo -- show the jobs here</p>
    <div >
      <button>Contact Us</button>
      <p>copy right 2025</p>
    </div>
  </div> 
</body>
</html>